<div class="commentSection">
    {% if user.users.pic %}
        <img src="{{user.users.pic.url}}" alt="" class='pPicC'>
        {% if user.users.governmentEntity == 1%}
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {% endif %}
    {% else %}
        <img src="/media/profile_pic/default.png" alt="" class="pPicC">  
        {% if user.governmentEntity == 1 %}
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {% endif %}  
    {% endif %}    
    <button class="deleteC"></button>
    <h4 class='name'>{{user.username}}</h4>
    <p>{{reply}}</p>  
    {% if c.author.id == userLog %}
    <button class="btn btn-success updateC">Edit</button>
    {% endif %}
    <div class="updateCPane" style='display:none'>
        <form action="updateComment">
            <textarea name="updateC" class="updateTar" cols="30" rows="10"></textarea>
            <button type='submit' class="btn btn-primary">Ok</button>
        </form>
    </div>
    <hr> 
    <br>
    <div class="reply">
        <form action="reply" class='replyForm'>
            <input type="text" name='reply' id='reply'>
            <button>Reply</button>
        </form>
    </div>
    </div>
    <br>