{% extends "header.html" %}
{% block content %}
    <div class="container-fluid pane">
        <div id="problemPane">
            <button class='toggle-icon btn btn-primary'>&#9776;</button>
            <h1>Categories</h1>
        </div>
        <br>
        <div id="categoryPane">
            <ul class="list">
                {% for c in category %}
                <li><a href="pPage/{{c.category}}">{{c.category}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}