<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{%  static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{%  static 'css/styleDash.css' %}">
    <link rel="stylesheet" href="{%  static 'fonts/glyphicons-halflings-regular.svg' %}">
    <script src="{%  static 'js/jquery.js' %}"></script>
    <script src="{%  static 'js/bootstrap.min.js' %}"></script>
    <script src="{%  static 'js/dash.js' %}"></script>
    <title>PiNoise</title>
</head>

<body>
    
    <nav class="nav statusNav">
        <div class="profilePic">
            {% if user.users.pic %}
            <img src="{{user.users.pic.url}}" alt="" class="imgProf">
            {% else %}
            <img src="/media/profile_pic/default.png" alt="" class="imgProf">
            {% endif %}
            <h3>{{user.username}}</h3>
        </div>
        <ul class="navList">
            <li><div class="itemDiv"><a href="/pinoise/dashboard">Home</a></div></li>
            <li><div class="itemDiv"><a href="/pinoise/myIdeas">My Ideas</a></div></li>
            <li><div class="itemDiv"><a href="/pinoise/settings">Settings</a></div></li>
            <li><div class="itemDiv"><a href="/pinoise/dashboard/logout">Log-Out</a></div></li>
        </ul>

        
    </nav>
<body>
 {% block content %}

 {% endblock %}
</body>
</html>