{% extends "header.html" %}
{% block content %}
<body>
    {% for post in posts %}
    <div class="post">
        <div class="vote">
            <i class="fa fa-thumbs-up up" aria-hidden="true"></i>
            <br>
            <i class="fa fa-thumbs-down down" aria-hidden="true"></i>
        </div>
        <div class="ideaPane">
            {% load static %}
            <h2>{{post.title}} <button id="delete"></button></h2>
            <h4>{{post.category}}</h4>
            <hr>
            <p><span>{{post.description}}</span></p>
        </div>           
    </div>
{% endfor %}
{% endblock %}