{% extends "header.html" %}
{% block content %}
<body>
    <div class="container-fluid pane">
        <div id="problemPane">
            <h1>My Ideas</h1>
        </div>
        <br>
        <div id="categoryPane">
            <div class="row">
                <div class="col-md-6">
                    <form action="mySearch" id='searchForm' class='form-inline' id='searchPost'>
                        <label for="search">Search: </label>
                        <input class="form-control" type="text" placeholder="Seach..." id='search' name='search'>
                        <button type='submit' class='btn btn-primary'>Search</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <form action="mySort" id='sortForm'>
                        <div class="btn-group" role="group" aria-label="Sort">     
                                <input type="submit" class="btn btn-secondary" value="Name">
                                <input type="submit" class="btn btn-secondary" value="Top Rated">
                                <input type="submit" class="btn btn-secondary" value="Date">              
                        </div>
                        </form>   
                </div>
            </div>
            {% for post in posts %}
            <div class="post">
                <div class="vote">
                    <h2>{{post.rating}}</h2>
                </div>
                <a href="{{post.author}}/{{post.title}}/post_page">
                    <div class="ideaPane">
                        {% load static %}
                        <h2>{{post.title}} <button class="delete"></button></h2>
                        <h4>{{post.category}}</h4>
                        <hr>
                        <p><span>{{post.description}}</span></p>
                    </div>    
                </a>       
            </div>
            {% endfor %}
            {% endblock %}
            </div>
    </div>
    