{% extends "header.html" %}
{% block content %}

    <div class="container-fluid pane">
        <div id="problemPane">
            <button class='toggle-icon btn btn-primary'>&#9776;</button>
            {% if post.author_id.users.pic %}
                <img src="{{post.author_id.users.pic.url}}" alt="" class='pPic'>
            {% else %}
                <img src="/media/profile_pic/default.png" alt="" class="pPic">
            {% endif %}
            <h2>{{post.title}}</h2>
            <h4>by <span id="auth">{{post.author}}</span></h4>
            <h5>Category: <span id='category'>{{post.category}}</span></h5>
            <h6>date posted: {{post.date_posted}}</h6>
        </div>
        <br>
        <div class="postPane">
            {{post.description}}
        <br>
        <br>
        {% if post.author_id.id == userLog %}
            <button class='btn btn-primary' id='updatePost'>Update Post</button>
            <br>
            <br>
        {% endif %}
        <button class='btn btn-danger' data-toggle='modal' data-target='#reportModal'>Report Post</button>
        {% if user.users.governmentEntity == 1 %}
        <button class='btn btn-info' data-toggle='modal' data-target='#messageModal'>Message Author</button>
        {% endif %}
        <div class="updatePane" style='display:none'>
            <form action='updatePost' method="POST" class="update">
                {% csrf_token %}
                <label for="title">Title</label>
                <br>
                <input type="text" name='title'>
                <br>
                <textarea name="ideation" id="ideation"></textarea>
                <div class="bCont">
                    <button class="btn btn-primary" type='submit'>Update Idea</button>
                </div>
            </form> 
        </div>
        <div class="row">
            <h2>Comments</h2>
        </div>
        <div class="row">
            <div class="commentPane">
                {% for c in comments %}
                    <div class="commentSection">
                        {% if c.author.users.pic %}
                            <img src="{{c.author.users.pic.url}}" alt="" class='pPicC'>
                            {% if c.author.users.governmentEntity == 1%}
                                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                            {% endif %}
                        {% else %}
                            <img src="/media/profile_pic/default.png" alt="" class="pPicC">  
                            {% if c.author.users.governmentEntity == 1 %}
                                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                            {% endif %}  
                        {% endif %}    
                        {% if c.author.id == userLog %}
                            <button class="deleteC"></button>
                        {% endif %}
                        <h4 class='name'>{{c.author.username}}</h4>
                        <p>{{c.reply}}</p>  
                        {% if c.author.id == userLog %}
                        <button class="btn btn-success updateC">Edit</button>
                        {% endif %}
                        <div class="updateCPane" style='display:none'>
                            <form action='#' class='uComment'>
                                <textarea name="updateC" class="updateTar" cols="30" rows="10"></textarea>
                                <button class="btn btn-primary">Ok</button>
                            </form>
                        </div>
                        <hr> 
                        <div class="replyPane container-fluid">
                            
                            {% for r in reply %}
                                {% if r.replyToPost.id == c.id %}
                                    <div class="replyDiv">
                                        {% if r.author.id == userLog %}
                                            <button class="deleteR"></button>
                                        {% endif %}
                                    {% if r.replyToPost.id == c.id %}
                                    {% if r.author.users.pic %}
                                        <img src="{{r.author.users.pic.url}}" alt="" class='pPicC'>
                                        {% if r.author.users.governmentEntity == 1 %}
                                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                        {% endif %}
                                    {% else %}
                                        <img src="/media/profile_pic/default.png" alt="" class="pPicC">   
                                        {% if r.author.users.governmentEntity == 1 %}
                                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                        {% endif %}
                                    {% endif %}  
                                        <h4 class='name'>{{r.author.username}}</h4>
                                        <p>{{r.replyToComment}}</p>
                                        {% if c.author.id == userLog %}
                                            <button class="btn btn-success updateC">Edit</button>
                                        {% endif %}
                                        <div class="updateRPane" style='display:none'>
                                            <form action="#" class="uReply">
                                                <textarea name="updateR" class="updateTar" cols="30" rows="10"></textarea>
                                                <button type='submit' class="btn btn-primary">Ok</button>
                                            </form>
                                        </div>
                                    {% endif %}
                                    </div>
                                    <hr>
                                {% endif %}
                            {% endfor %}
                            
                        </div>
                        <br>
                        <div class="reply">
                            <form action="#" class='replyForm'>
                                <input type="text" name='reply' id='reply'>
                                <button>Reply</button>
                            </form>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
        
        <div>
            <form action='#' id='commentForm'>
                <textarea type="text" name='comment' class='tarea'></textarea>
                <br>
                <button type='submit'>Add Comment</button>
            </form>
        </div>
    </div>
    </div>
    <div id="reportModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Report Post</h4>
                </div>
                <div class="modal-body">  
                    <form action="report" id='report'>
                        <label for="reason">Select a Reason:</label>
                        <select name="reason" id="reason" class='form-group'>
                            <option value="Default">Select<button></button></option>
                            <option value="Inappropriate Category">Inappropriate Category<button></button></option>
                            <option value="Inappropriate Content">Innapropriate Content<button></button></option>
                        </select>
                
                </div>
                <div class="modal-footer">
                    <button type='submit' class='btn btn-danger'>Report</button>
                    </form>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        
        </div>
    </div>

    <div id="messageModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
            
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Message Author</h4>
                    </div>
                    <div class="modal-body">  
                        <form action="sendMessage" id='report' method='POST'>
                                {% csrf_token %}
                            <label for="reason">Message</label>
                            <textarea name="message" id="messages" cols="30" rows="10"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type='submit' class='btn btn-info'>Send</button>
                        </form>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            
            </div>
        </div>
{% endblock %}
