<div class="replyDiv">
<button class="deleteR"></button>
    {% if user.users.pic %}
        <img src="{{user.users.pic.url}}" alt="" class='pPicC'>
        {% if user.users.governmentEntity == 1 %}
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {% endif %}
    {% else %}
        <img src="/media/profile_pic/default.png" alt="" class="pPicC">   
        {% if user.governmentEntity == 1 %}
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {% endif %}
    {% endif %}  
    <h4 class='name'>{{user.username}}</h4>
    <p>{{reply}}</p>
    {% if c.author.id == userLog %}
    <button class="btn btn-success updateR">Edit</button>
    {% endif %}
    <div class="updateRPane" style='display:none'>
    <form action="updateReply">
    <textarea name="updateR" class="updateTar" cols="30" rows="10"></textarea>
    <button type='submit' class="btn btn-primary">Ok</button>
    </form>
    </div>
</div>
    <hr>


