{% extends "header.html" %}
{% block content %}
<body>
    <h3>Change Password</h3>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        {{ form.errors }}
        <button type="submit" class='btn btn-primary'>Save changes</button>
    </form>
    <br>
    <form action="{% url 'changePic' %}" enctype="multipart/form-data" method='POST'>
        {% csrf_token %}
        <input type="file" name='picture'>
        <br>
        <button type='submit' class='btn btn-primary'>Change Profile Picture</button>
    </form>

{% endblock %}